.feed {
  margin-top: 140px;
  margin-left: 240px;
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Create 3 equal columns */
  gap: 16px; /* Add space between grid items */
}

.feed__item {
  display: flex;
  flex-direction: column;
}

.feed__item__thumbnail {
  width: 360px;
  height: 202px;
  border-radius: 2px; 
  overflow: hidden; /* Ensures content stays within the rounded borders */
  background-color: grey;
  transition: border-radius 0.3s ease;
}

.feed__item__thumbnail img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures the image covers the entire area while maintaining aspect ratio */
  display: block; /* Ensures no inline gaps */
  border-radius: inherit; /* Inherits the border-radius from the parent */
}

.feed__item:hover .feed__item__thumbnail {
  border-radius: 0; /* Remove border radius on hover */
}

.feed__item__info {
  display: flex;
  font-size: 14px;
  color: rgb(96, 96, 96);
  margin-top: 8px; /* Add some space between thumbnail and text */
}

.feed__item__info h3 {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 4px;
  color: rgb(3, 3, 3);
}

.feed__item__info a {
  text-decoration: none;
  color: unset;
}

.feed__item__info p {
  margin: 0;
}

.feed__item__info__avatar {
  height: 36px;
  width: 36px;
  border-radius: 50%;
  background-color: grey;
  margin: 12px 12px 0 0;
}

.feed__section {
  border-top: 3px solid lightgrey;
  border-bottom: 3px solid lightgrey;
  margin: 24px 35px 48px;
}

.feed__section h2 {
  margin-left: 8px;
}

.feed__section__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
